{% extends 'base.html' %}
{% block content %}

<form method='POST'><br>
    Enter your email address: <br> <input name="email" class="register" type="text"></input><br>
    Create Password:<br> <input name="password" class="register" type="text"></input><br>
    What is your age:<br> <input name="age" class="register" type="text"></input><br>
    What is your zipcode:<br> <input name="zipcode" class="register" type="text"></input><br><br>
    <input type="submit" value="Sign Up">
</form>

{% endblock %}